Options -Indexes

Options +FollowSymlinks
RewriteEngine on

# RewriteBase /public/
############################## News HTaccess

# LOGIN
RewriteRule ^$ index.php?controller=homeController&method=indexaction [L]
RewriteRule ^app$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^accueil$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^texte-liste$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^categories-liste$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^revision$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^expressions$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^series$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^texte/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^textes/category/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^texte-edit/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^categorie-ajout$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^ajout-texte$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^revision-serie-list/text/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^revision-btn-begin/texte/([a-zA-Z0-9=_]+)/serie/([a-zA-Z0-9=_]+)/content/([a-zA-Z0-9=_]+)/mode/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]
RewriteRule ^revision-serie/texte/([a-zA-Z0-9=_]+)/serie/([a-zA-Z0-9=_]+)/content/([a-zA-Z0-9=_]+)/mode/([a-zA-Z0-9=_]+)$ index.php?controller=appController&method=indexaction [L]

RewriteRule ^logout$ index.php?controller=authenticationController&method=logoutAjax [L]
RewriteRule ^save-user-ajax$ index.php?controller=appController&method=saveUserAjax [L]
RewriteRule ^connect-user-ajax$ index.php?controller=authenticationController&method=connectUserAjax [L]
RewriteRule ^get-user-ajax$ index.php?controller=appController&method=getUserAjax [L]
RewriteRule ^textes-ajax$ index.php?controller=appController&method=getTextesAjax [L]
RewriteRule ^categories-ajax$ index.php?controller=appController&method=getCategoriesAjax [L]
RewriteRule ^get-texte-ajax$ index.php?controller=appController&method=getTextAjax [L]
RewriteRule ^get-data-home-ajax$ index.php?controller=appController&method=getDataHomeAjax [L]
RewriteRule ^get-data-navbar-ajax$ index.php?controller=appController&method=getDataNavbarAjax [L]
RewriteRule ^update-texte-ajax$ index.php?controller=appController&method=updateTextAjax [L]
RewriteRule ^save-category-ajax$ index.php?controller=appController&method=saveCategoryAjax [L]
RewriteRule ^save-text-ajax$ index.php?controller=appController&method=saveTextAjax [L]
RewriteRule ^upload-file-pdf-ajax$ index.php?controller=appController&method=uploadFilePdfAjax [L]
RewriteRule ^get-html-page$ index.php?controller=appController&method=getHtmlPage [L]
RewriteRule ^textes-revision-ajax$ index.php?controller=appController&method=textesRevisionAjax [L]
RewriteRule ^series-revision-ajax$ index.php?controller=appController&method=seriesRevisionAjax [L]
RewriteRule ^get-serie-by-id-ajax$ index.php?controller=appController&method=getSerieByIdAjax [L]
RewriteRule ^save-dataserie$ index.php?controller=appController&method=saveDataserie [L]
RewriteRule ^update-histoserie-ajax$ index.php?controller=appController&method=updateHistoserie [L]
RewriteRule ^check-expression-exist-ajax$ index.php?controller=appController&method=checkExpressionExistAjax [L]
RewriteRule ^save-expression-ajax$ index.php?controller=appController&method=SaveExpressionAjax [L]

# ACCUEIL
#RewriteRule ^home$ index.php?controller=AccueilController&method=indexAction [L]
#RewriteRule ^home/([a-zA-Z0-9=_]+)$ index.php?controller=AccueilController&method=$1action [L]
#RewriteRule ^home/([a-zA-Z0-9=_]+)/([a-zA-Z0-9=\-]+)$ index.php?controller=AccueilController&method=$1action&param1=$2 [L]
#RewriteRule ^home/([a-zA-Z0-9=_]+)/([0-9\-]+)/([0-9\-]*)$ index.php?controller=AccueilController&method=$1action&param1=$2&param2=$3 [L]
#RewriteRule ^home/([a-zA-Z0-9=_]+)/([0-9\-]+)/([0-9\-]*)/([0-9\-]*)$ index.php?controller=AccueilController&method=$1action&param1=$2&param2=$3&param3=$4 [L]
